*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    color: rgb(35, 80, 117);
    perspective: 700px;
    font-family: "Merienda", serif;}

header{
        width: 100%;
        height: 70px;
        padding-left: 150px;
        position:relative;
        background-color: rgba(253, 255, 255, 0.726);
        z-index: 1000;
    }
.h{
    padding-top: 15px;
    font-size: 50px;
}
.h,.h2{
    display: inline;
    font-family: "Italianno", serif;
    letter-spacing: 2px;
    text-shadow: 2px 3px 5px rgba(15, 71, 97, 0.644);
}
.h2{
    font-weight: 600;
    font-size: 30px;
}
.logo{
    border-radius: 50%;
    position: absolute;
    margin-left: -80px;
}
hr{
    width: 50px;
    margin-bottom: 9px;
}
.list-dropdown {
    position: relative;
    display: inline-block;
}
.list{
    position: absolute;
    width: 1200px;
    padding-left: 280px; 
    margin-top: -45px;
}
.drop{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.dropdown li{
    margin: 0;
    padding: 0;
    padding: 2px;
}
.list  a{
    font-size: larger;
    color:  rgb(58, 107, 119);
    font-family: "Cookie", serif;
    font-size: 25px;
    position: relative;
}    
.list  a:hover{
    color: rgb(56, 137, 161);
    text-shadow: 2px 3px 3px rgba(94, 121, 151, 0.705);
    transform: scale(1.05);
}
.page,.blog{
    display: inline;
}
.divp{
   padding: 2px 2px 2px 8px;
}
.dropdown {
    position: absolute;
    width: 250px;
    height: 190px;
    padding: 5px;
    margin-left: -50px;
    background-color: #c8cacacc;
    text-align: left;
    left: 0;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 50;
    border-radius: 10px;
    margin-top: 13px;
}
.dropdown li a {
    color: rgb(28, 89, 146);
    display: block;
    font-size: 25px;
    margin: 0;
}
.pa li a,.bl li a{
    font-family: "Birthstone", serif;
}
.search{
   position: absolute;
   right: 200px;
   top: 20px;
   font-size: 20px;
}
.fa-chevron-down{
    top:30px;
    font-size: 15px;
}
.list-dropdown:hover .dropdown {
    visibility: visible;
    opacity: 1;
    transition: 1s;
    box-shadow: 4px 6px 10px 5px rgb(127, 146, 167);
}
.list-dropdown{display: inline;
    margin-right: 20px;
}
/* ******************************************************* */
.divr{
    position: relative;
    display: inline;
    margin-right: 5px;
}
.divp,.divo{
    padding: 1%;
}
 .divp:after,.divo:after{
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0px;
    background-color: rgba(35, 69, 107, 0.87);
    transition: 0.5s;
}
.divp:hover::after,.divo:hover::after{
    width: 100.5%;
    transition: 0.2s;
}
.divp:before,.divo:before{
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    top: 0;
    right:0px;
    background-color:  rgba(56, 76, 117, 0.801);
    transition: 0.2s;
}
.divp:hover::before,.divo:hover::before{
    width: 100%;
    transition: 0.2s;
}
.divp,.divo{
    position: relative;
}
.left,.right{
    position: absolute;
    width: 3px;
    height: 44px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.right{
    top: 0;
    right: 0;
    background-color: rgba(56, 76, 117, 0.801);
}
.left{
    bottom: 0;
    left: 0;
    background-color: rgba(56, 76, 117, 0.801);
}
.divp:hover .left,.divo:hover .left,.divp:hover .right,.divo:hover .right{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
/* ****************************************************************** */
.fa-user{
    right: 150px;
}
.fa-cart-shopping{
    position: relative;
    right: 100px;
}
.fa-2{
    top: -15px;
    right: 0;
    position: absolute;
    width: 20px;
    height:20px;
    border-radius: 50%;
    background-color: rgb(159, 185, 219);
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    padding-top: 2px;
}
.fa-cart-shopping,.fa-user{
    top: 20px;
    font-size: 20px;
    position: absolute;
}
.r-icon{
    color: rgb(58, 107, 119); ;
}
.r-icon:hover{
    color:rgb(159, 185, 219) ;
}
.fa-cart-shopping:hover .fa-2{
    top:-20px;
    transition: 0.3s;
}
/* ******************************************************************** */
.head2{
    height: 35px;
    background-color: rgb(98, 113, 146);
    text-align: center;
    color: rgb(169, 195, 207);
    padding: 5px;
    font-family: "Merienda", serif;
    font-size: 15px;
    letter-spacing: 2px;
}
.head2 a{
    position: relative;
    color: rgb(0, 30, 90);
}
.head2 a:hover{
    letter-spacing: 3px;
}
.head2 a:after{
    position: absolute;
    content: " ";
    width:100%;
    height: 2px;
    background-color:rgb(0, 30, 90);
    bottom: -5px;
    left: 0;
}
/* *************************************************************************** */
.head{
    width: 100%;
    height: 84vh;
    position:relative;
    }
.head img{
    width: 100%;
    height: 84vh;
    position: absolute;
}
.content-h{
   position: relative;
   position: absolute;
   width: 450px;
   height: 450px;
   border-radius: 50%;
   background-color: rgba(212, 212, 212, 0.664);
   box-shadow: 2px 2px 30px 10px rgb(195, 195, 212) ;
   margin-top: 50px;
}
.content-h:hover{
    scale: 1.05;
}
.head p,.head h2,.head h3{
    position: absolute;
}  
.head h2{
    padding:80px 100px 50px ;
    font-family:"Rouge Script", serif;
    font-size: 40px;
    font-weight: 200;
}  
.head h3{
    padding:170px 30px 10px;
    font-family: "Merienda", serif;
    font-size: 20px;
    font-weight: 700;
    color: rgb(24, 63, 102);
}
.head p{
    padding:230px 70px 10px;
    font-family: "Merienda", serif;
    width: 460px;
    text-align: center;
    line-height: 30px;
    word-spacing: 10px;
}
.content-h button{
    position: absolute;
    margin: 350px 160px;
    width: 130px;
    height: 60px;
    border-radius: 20%;
    background-color: rgba(132, 162, 180, 0.712);
    font-family: "Merienda", serif;font-size: 20px;
    border: 0;
    box-shadow: 1px 1px 15px 7px rgba(147, 173, 185, 0.829);
    transition: 0.8s;
}
.content-h button:hover{
    background-color: rgba(199, 226, 230, 0.938);
    box-shadow: 1px 1px 15px 7px rgb(209, 234, 248) ;
    scale: 1.05;
    transition: 0.5s;
}
.content-h a{
    color: rgb(34, 69, 122);
}
/* *****************************************section2********************************************** */
.Subdivisions{
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: -webkit-linear-gradient(rgba(216, 222, 226, 0),rgba(238, 249, 255, 0.253),rgba(207, 221, 231, 0.658),rgba(171, 201, 223, 0.459),rgba(179, 203, 218, 0.603),rgba(145, 170, 187, 0.692));
}
.cloth,.bag,.macrame{
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 8px 10px 20px 5px rgba(90, 119, 156, 0.671) ;
}
.Subdivisions img{
     border-radius:25px;
     transition: 0.5s;
}
.Subdivisions h2{
    position: relative;
    opacity: 0;
    font-size: 15px;
    padding-top: 10px;
    transition: 0.5s;
}
.Subdivisions h1{
    text-shadow: 3px 1px 2px rgb(10, 47, 71);
}
.cl-t,.ba-t,.ma-t{
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100px;
    background: -webkit-linear-gradient(rgba(216, 222, 226, 0),rgba(214, 229, 240, 0.253),rgba(188, 209, 224, 0.527),rgba(119, 145, 163, 0.575),rgba(89, 120, 139, 0.863),rgb(45, 65, 78));
    padding: 50px 100px 0;
    left: 0;
    bottom: 0px;
    color: rgb(211, 227, 255);
    font-family: "Merienda", serif;
    font-size: 20px;
    border-radius: 25px;
    transition: 0.5s;
}
.Subdivisions h2:after{
    position: absolute;
    content: " ";
    width:80%;
    height: 2px;
    background-color:rgb(183, 203, 243);
    bottom: -5px;
    left: 10px;  
}
.cloth:hover h2, .bag:hover h2,.macrame:hover h2{
    opacity: 1;
    transition: 0.5s;
}
.cloth:hover .cl-t, .bag:hover .ba-t,.macrame:hover .ma-t{
    padding: 10px 100px 0;
    transition: 0.5s;
}
.cloth:hover img, .bag:hover img,.macrame:hover img{
    width: 320px;
    height: 320px;
    transition: 0.5s;
}
/* //////////////////////////************section3////////////////************* */
.section3{
    width: 100%;
    height: 100vh;
    position: relative;
    background: -webkit-linear-gradient(rgba(33, 102, 148, 0.007),rgba(153, 187, 206, 0.596),rgba(147, 177, 199, 0.548),rgba(53, 125, 173, 0.548));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.chev,.chevl{
    font-size: 35px;
    position: absolute;
    top:35%;
    left:101%;
    color: rgb(104, 147, 167);
}
.chevl{
    left:-3%;
}
.head-sec3{
    width: 80%;
    height: 20%;
    padding-bottom: 20px;
    position: relative;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-family: "Merienda", serif;
}
.head-sec3 h1,.head-sec3 .he h3{
    display: inline;
    word-spacing: 5px;
    letter-spacing: 2px;
}
.head-sec3 .he{
    display: inline;
    right: 5px;
    position: absolute;
}
.head-sec3 .he h3{
    padding-left: 25px;
    font-size: 15px;
    position: relative;
}
.he1{
    color:  rgb(63, 146, 187);
}
.he1::after{
    position: absolute;
    content: " ";
    width: 80%;
    height: 7px;
    background-color: rgb(63, 146, 187);;
    bottom: -20px;
    left: 22px;
}
.head-sec3::after{
    position: absolute;
    content: " ";
    width: 100%;
    height: 2px;
    background-color: rgb(120, 165, 187);
    bottom: 0;
}
.image4{
    position: absolute;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 80%;
    top: 30%;
}
.image4 img{
    border-radius: 25px;
}
.first ,.second,.third,.fourth{
    position: relative;
    transition: all  2s ;
    display:inline-block;
    width: 250px;
    height: 300px;
    margin-bottom: 15px;
}
.front {
    z-index: 1 ;
    backface-visibility:  hidden ;
}
.first:hover .back,.second:hover .back,.third:hover .back,.fourth:hover .back{
    transform: rotateY(180deg);
    z-index: 10;
    transition: 1s;
}
.back {
    transform: translateY(0);
    transform: rotateY(180deg);
    transition: 1s;
    transform: scale(1);
}
.front , .back {
    position: absolute;
}
.overlay{
    position: absolute;
    position: relative;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 180px;
    bottom:-220px;
    z-index: 80;
    background: -webkit-radial-gradient(rgba(174, 202, 223, 0.87),rgba(119, 166, 196, 0.973));
    left: 35px;
    transition: 1s;
    opacity: 0;
    border-radius: 10px;
    transform: rotateY(180deg);
}
.first:hover  .overlay,.second:hover  .overlay,.third:hover  .overlay,.fourth:hover .overlay{
    opacity: 1;
    transition: 1s;
}
.i-icon{
    font-size: 30px;
    width: 60px;
    height: 50px;
    text-align: center;
    padding-top: 5px;
    color: rgb(195, 216, 255);
    border-radius: 10px;
}
.i-icon:hover{
    background-color: rgb(13, 93, 173);
}
.first:hover  .i-icon,.second:hover  .i-icon,.third:hover  .i-icon,.fourth:hover .i-icon{
    transform: rotateY(180deg);
}
.sec4{
    position: relative;
    text-align: center;
    font-family: "Merienda", serif;
}
.sec4 h3{
    padding-bottom: 10px;
}
del{
    text-decoration: line-through;
    color: rgb(76, 156, 187);
}
/* ////////////////////sec4///////////////////////////// */
.custmor{
    text-align: center;
    padding: 30px;
    width: 100%;
    height: 55vh;
    position: relative;
    background: -webkit-radial-gradient(rgba(208, 227, 233, 0.651),rgba(136, 198, 236, 0.589));
    box-shadow: 1px 5px 20px 5px rgb(68, 116, 172);
}
.custmor .chev,.custmor .chevl{
    position: absolute;
    top: 45%;
    left:90%;
}
.custmor .chevl{
    left:10%;
}
.custmor h1{
    color: rgb(0, 91, 128);
    font-family: "Merienda", serif;
    margin-bottom: 20px;
    font-size: 25px;
    letter-spacing: 1px;
}
.sec{
    position: absolute;
    position: relative;
    width: 55%;
    margin-left: 150px;
}
.custmor p{
    font-family: "Merienda", serif;
    width: 50%;
    margin: auto;
    line-height: 30px;
    word-spacing: 3px;
    letter-spacing: 1px;
    color: rgb(114, 161, 175);
}
.custmor img{
    border-radius: 50%;
    display: inline;
    top:35px;
    position: absolute;
}
.custmor .sec5-h{
    position: absolute;
    text-align: left;
    top:50px;
    left: 460px;
}
.custmor h4{
    padding-bottom: 10px;
    font-family: "Merienda", serif;
    word-spacing: 5px;

}
.custmor .line{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color:rgb(119, 157, 175);
    left: 0;
    top: 0;
}
.ln{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color:rgb(119, 157, 175);
    left: 0;
    bottom: 0;
}
.sec5-h .h4{
    color: rgb(114, 161, 175);
}
/* //////////////////////////sec5//////////////////////////// */
.like {
    width: 100%;
    height: 90vh;
    position: relative;
    text-align: center;
    background: -webkit-linear-gradient(bottom,rgba(33, 102, 148, 0.007),rgba(153, 187, 206, 0.596),rgba(147, 177, 199, 0.548),rgba(53, 125, 173, 0.548));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Merienda", serif;
}
.like h1 {
    width: 80%;
    top: 40px;
}
.like .chev{
    left:-5%;
}
.like .chevl{
    left:103%;
}
.image5 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 80%;
}
.image5 img {
    border-radius: 25px;
}
.one, .two, .three, .four {
    position: relative;
    transition: all 2s;
    border-radius: 25px;
    width: 250px;
    height: 300px;
    margin-bottom: 15px;
    transform-style: preserve-3d;
    overflow: hidden;
    box-shadow: 1px 1px 10px 5px rgba(167, 212, 255, 0.959) ;
}
.front {
    z-index: 1;
    backface-visibility: hidden;
}
.front, .back2 {
    border-radius: 25px;
    position: absolute;
}
.one:hover .back2, .two:hover .back2, .three:hover .back2, .four:hover .back2 {
    transform: translateY(0px);
    opacity: 1;
    transition: 1s;
}
.back2 {
    transform: translateY(-300px);
    transition: 1s;
    opacity: 0;
    z-index: 10;
}
.like i{
    transform: rotateY(180deg);
}
.one:hover .overlay, .two:hover .overlay, .three:hover .overlay, .four:hover .overlay {
    opacity: 1;
    transition: 1s;
}
/* //////////////////////sec6/////////////////////////// */
.news {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: "Merienda", serif;
    background: -webkit-linear-gradient(left,  rgba(133, 163, 182, 0.692), rgba(171, 201, 223, 0.459), rgba(179, 203, 218, 0.603), rgba(207, 221, 231, 0.658), rgba(171, 201, 223, 0.459), rgba(179, 203, 218, 0.603), rgba(145, 170, 187, 0.692));
}
.new {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
    margin-left: 80px;
}
.new img{
    border-radius: 25px;
}
.new img:hover{
    scale: 1.05;
}
.news1, .news2, .news3 {
    position: relative;
    transition: all 2s;
    width:550px;
    height: 550px;
    border-radius: 25px;
}
.news-h h4, .news-h h1, .news-h h3,.new a{
    padding-bottom: 20px;
    color: rgb(37, 86, 143); 
    display: block;
    visibility: visible;
    width: 340px;
    word-spacing: 5px; 
    font-size: 20px;
}
.news-h h4{
    font-size: 14px;
    color: rgb(131, 167, 201);
    padding-top: 15px;
}
.news-h h1 {
    text-shadow: 3px 3px 3px rgba(115, 147, 189, 0.842);
}
.news-h h1:hover{
    color:rgb(103, 143, 158)
}
.news-h h3 {
    font-size: 16px; 
    color: rgb(128, 159, 189);
}
.news a{
    text-decoration: underline;
}
.news a:hover{
    transform: scale(1.05);
}
/* ///////////////////////////sec7//////////////////////////////// */
.sec7{
    width: 100%;
    height: 35vh;
    position: relative;
    font-family: "Merienda", serif;
}
.sec7 h3{
    padding-bottom: 15px;
}
.sec7 h2{
    padding-bottom: 15px;
}
.icons7{
    margin-top: 60px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
}
.icons7 i{
    font-size: 60px;
    color: rgb(149, 169, 190);
}
.icon{
    width: 20%;
    height: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.i1, .i2, .i3, .i4 {
    width: 30%;
    height: 80px;
    position: relative;
    transition: all 2s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin: auto;
}
.front7 {
    z-index: 1;
    backface-visibility: hidden;
}
.front7, .back7 {
    position: absolute;
}
.i1:hover .back7, .i2:hover .back7, .i3:hover .back7, .i4:hover .back7 {
    transform: translateY(0px);
    opacity: 1;
    transition: 1s;
}
.back7 { 
    transform: translateY(60px);
    transition: 1s;
    opacity: 0;
    z-index: 10;
}
.back7 i{
    color:rgb(13, 65, 126) ;
}
/* //////////////////**************footer***************\\\\\\\\\\\\\\\\\\\\\\\\\\ */
footer{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(8, 70, 112, 0.726);
    color: rgb(211, 239, 255);
}
.foot{  
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
[type="button"],[type="email"]{
    cursor:pointer;
    font-family: "Merienda", serif;
    width: fit-content;
    height: 45px;
    font-size: 20px;
    background-color: rgb(192, 222, 224);
    color:rgba(8, 70, 112, 0.726);
    border: 0;
    border-radius: 10px;
    padding: 10px;
}
[type="button"]:hover{
    scale: 1.08;
}
[type="email"]{
    padding-bottom: 5px;
    margin-right: 10px;
}

.subs a i{
    color: rgb(150, 196, 211);
    font-size: 25px;
    padding: 5px;
}
.subs a i:hover{
    scale: 1.2;
    color: rgb(189, 231, 255);
}
.sub-h h5{
    padding-top:20px ;
}
.subs{
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}.footer-logo{
    margin: 0 0 120px 90px;
}
.shop-cl,.shop-ba,.col-ma{
    margin-top:-30px;
}
.collection{
    position: relative;
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.collection h3{
    padding: 15px 0;

}
.collection h5{
    padding: 8px 0;
    color: rgb(148, 192, 207);
    cursor: pointer;
}
.collection h5:hover{
    text-decoration: underline;
    scale: 1.1;
}
.f-footer{
    position: relative;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.f-footer p{
    color: rgb(130, 174, 189);
}
.f-footer .heart,span{
    color: rgb(181, 228, 255);
}
h1{
    text-shadow: 2px 3px 3px rgb(43, 112, 175);
}
.heart{
    animation-name: change;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes change{
    0%{
        scale: 1;
    }
    100%{
        scale: 1.08;
        color: rgba(113, 172, 206, 0.856);
    }
}